body{
    background-image: url(../img/pexels-ezequiel-4767578.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    background-color: black;
}






