body {
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    height: 100vh;
}

.panel-movil {
    flex: 2;
    background-color: #f0f0f0;
    resize: horizontal; /* Permitir redimensionamiento horizontal */
}

.panel-estatico {
    flex: 1;
    background-color: #ccc;
    overflow: auto;
}
